.conteudo{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50vh 50vh;
    
    margin-top: 10%;
    margin-bottom: 0%;
}

.colum1-professor{
    width: 100%;
    background-color: #000000;
    grid-column: 1/2;
    font-size: 2rem;
    
   
}

.professor-alunos{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.colum2-professor{
    width: 100%;
    background-image: url(../assets/treinador.png);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2/2;

    
}

.professor-titulo{
    font-family: var(--fonte-principal);
    font-weight: bold;
    color: white;
    padding: 10% 10% 0% 10%;
    
  
}

.professor-texto{
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    color: white;
    text-align: left;
    padding: 2% 5% 10% 5%;
}

