.projetos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 5% 0 5% 0;
   
    
    
}



.projeto-titulo{
    font-family: var(--fonte-principal);
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
  
}

.projeto-texto{
    font-family: var(--fonte-principal);
    font-weight: light;
    text-align: justify;
}

.projeto-right{
    width: 60%;
    height: 30vh;
    display: flex;
    flex-direction: row ;
    align-items: center;
    text-align: right;
    grid-column: 1/2;
    margin: 6% 0 6% 0%;
   
   
}

.projeto-left{
    width: 60%;
    height: 30vh;
    display: flex;
    flex-direction: row-reverse ;
    align-items: center;
    grid-column: 2/2;
    margin: 6% 0% 5% 0;
    text-align:left;
  
    
   
}

.conteudo-projeto{
    width: 50%;
}

.projeto-img{
    width: 80%;
}

/* Estilos padrão para todos os dispositivos */

@media only screen and (max-width: 480px) {
    /* Estilos para dispositivos com largura máxima de 480px (smartphones em modo retrato) */
   

}

/* Estilos padrão para todos os dispositivos */


@media only screen and (max-width: 768px) {
    .projetos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0%  8% 30% 8%;
    }
    
    
    
    .projeto-titulo{
        font-family: var(--fonte-principal);
        font-size: 1.5rem;
        margin-bottom: 2%;

    }
    
    .projeto-texto{
        font-family: var(--fonte-principal);
        font-weight: light;
        text-align: justify;
        font-size: 16px;
    }
    
    .projeto-right{

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      
        
        margin: 20% 0 20% 0 ;
       
    }
    
    .projeto-left{
    
        display: flex;
        flex-direction: column ;
        align-items: center;
        text-align:center;
        
        margin: 20% 0 20% 0 ;
       
    }
    
    .conteudo-projeto{
        width: 100%;
        height: 80%;

        margin: 5% 0 5% 0
       
    }
    
    .projeto-img{
        margin-top: 10%;
        width: 100%;
 
    }
    

}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    /* Estilos para tablets em modo retrato (largura entre 768px e 1024px) */




}

/* Estilos padrão para todos os dispositivos */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* Estilos para tablets em modo paisagem (largura entre 768px e 1024px) */
  }