.projetos{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 5% 0 5% 0;
   
    
    
}

.projeto-titulo{
    font-family: var(--fonte-principal);
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
  
}

.projeto-texto{
    font-family: var(--fonte-principal);
    font-weight: light;
    text-align: right;
}

.projeto-texto-left{
    font-family: var(--fonte-principal);
    font-weight: light;
    text-align: left;
}


.projeto-right{
    width: 60%;
    height: 30vh;
    display: flex;
    flex-direction: row ;
    align-items: center;
    text-align: right;
    grid-column: 1/2;
    margin: 6% 0 6% 0%;
   
   
}

.projeto-left{
    width: 60%;
    height: 30vh;
    display: flex;
    flex-direction: row-reverse ;
    align-items: center;
    grid-column: 2/2;
    margin: 6% 0% 5% 0;
    text-align:left;
  
    
   
}

.conteudo-projeto{
    width: 50%;
}

.conteudo-projeto-linha1{
    width: 50%;

}

.projeto-img{
    width: 80%;
}


@media only screen and (max-width: 768px) {
    .projetos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0%  0% 50% 0%;
    }
    
    
    
    .projeto-titulo{
        font-family: var(--fonte-principal);
        font-size: 1.5rem;
        margin-bottom: 2%;

    }
    
    .projeto-texto{
        font-family: var(--fonte-principal);
        font-weight: light;
        text-align: center;
        font-size: 16px;
    }

    .projeto-texto-left{
        font-family: var(--fonte-principal);
        font-weight: light;
        text-align: center;
        font-size: 16px;
    }

    
    .projeto-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
      
        
        margin: 0% 0 20% 0 ;
       
    }
    
    .projeto-left{
    
        display: flex;
        flex-direction: column ;
        align-items: center;
        text-align:center;
        justify-content: space-between;
        
        margin: 0% 0 20% 0 ;
       
    }

    .linha1{
        margin: 0 0 30% 0;
    }

     .linha3, .linha4 {
        margin: 30% 0 30% 0;
    }
    
    .linha2{
        margin: 60% 0 30% 0;
    }
    .conteudo-projeto{
        width: 100%;
        height: 80%;
        margin: 20% 0 20% 0;
    }

    .conteudo-projeto-linha1{
        width: 100%;
        height: 100%;
        margin: 20% 0 20% 0;
        padding-bottom: 60px;
    
    }
    
    .projeto-img-1{
        
        margin: 60% 0 20% 0;
        width: 100%;
    }
    
    .projeto-img{
        margin: 20% 0 20% 0;
        width: 100%;
 
    }
    

}
