.sobre-mim{
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100% 100%;

    padding: 5% 15% 0% 15%;
}
.sobre-mim-box{
    width: 80%;
    height: 100%;
    
    padding: 6% 6% 6% 6%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 30px 10px rgba(0, 0, 0, 0.17);
}

.sobre-mim-img{
    width: 80%;
}

details{
    border-radius: 30px;
    margin: 5%;
}

details > .summary-open{
    margin-top: 0.1%;
   
    
}

details > .summary-open p{
    padding: 2% 3% 3% 3%
}


.opcao1{
    background-color: var(--cor-um);
    

}
.opcao2{
    background-color: var(--cor-dois);
    
}
.opcao3{
    background-color: var(--cor-tres);
    
}
.opcao4{
    background-color: var(--cor-quatro);
    
}




.summary-titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    
    font-family: var(--fonte-principal);
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    padding: 5% 5% 5% 5%;

    
}
.summary-texto{
    font-family: var(--fonte-principal);
    font-weight: light;
    padding: 0 0 0 6%;
    text-align: left;

    color: #ffffff;
}





.sobre-mim-titulo{
    font-family: var(--fonte-principal);
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    padding: 5% 10% 5% 10%;

}

.sobre-mim-texto{
    font-family: var(--fonte-principal);
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.5rem;
    color: #000000;
}

.principal-titulo{
    font-family: var(--fonte-principal);
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    

}
.principal-subtitulo{
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    ;
    color: #000000;


}

.principal-texto{
    font-family: var(--fonte-principal);
    font-size: 1rem;
    text-align: left;
    color: #000000;
    padding: 2% 0 0 0;

    margin-bottom: 5%;
}

/* Estilos padrão para todos os dispositivos */

@media only screen and (max-width: 768px) {
    /* Estilos para dispositivos com largura máxima de 768px (tablets e dispositivos móveis) */
  .sobre-mim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sobre-mim-box{
    width: 100%;
    
  }

  .sobre-mim-titulo{
    font-size: 32px;
  }

  .sobre-mim-texto{
    font-size: 16px;
  }

  details{
    width:100% ;
    border-radius: 30px;
    margin: 5% 0 5% 0;
}

.curriculo-box{
    width: 100%;
}

.summary-titulo{
    font-size: 22px;
}


details > .summary-open{
    margin-top: 0.1%;
   
    
}

details > .summary-open p{
    padding: 2% 5% 10% 5%
}


summary img{
    width: 30px;
}
}

