@import url(reset.css);
@import url(sobre.css);
@import url(professor.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Roboto:wght@400;900&display=swap');
@import url(projeto.css);
@import url(contato.css);
@import url(obrigado.css);

/* Variaveis*/
:root{
    --cor-um: #FF9085;
    --cor-dois: #2B3582;
    --cor-tres: #FFC444;
    --cor-quatro: #2EC4B6;

    --cor-fundo: #D8DEE8;
    --fonte-principal : 'inter';
}



.principal{
    background-color: var(--cor-fundo);
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0 15% 0 15%;
}

.principal-img{
    width: 50%;
    padding: 5% 2% 5% 2%;
}

.nav{
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
    text-transform: uppercase;
    color: #2B3582;
    font-size: 1.5rem;

    padding: 2% 0 2% 2%;
   
}
.nav a {
    text-decoration: none;
    margin: 1%;
}

.professor-alunos{
  height: 70vh;
  margin: 10% 0 10% 0;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  
    
}
.colum1-professor{
  background-color: #2EC4B6;
  height: 100%;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.colum1-professor h1{
  font-size: var(--fonte-principal);
  text-transform: uppercase;
  color: #ffffff;
}
.colum1-professor p{
  font-family: var(--fonte-principal);
  color: #ffffff;
  margin: 0 8% 0 8%;
}

.colum2-professor{
  height: 100%;
  background-image: url(../assets/treinador.png);
  grid-column: 2/2;
  
}

.btn-conhecer{
  background-color: #2B3582;
  color: #ffffff;
  font-family: var(--fonte-principal);
  text-decoration: none;

  border-radius: 15px;

  padding: 2% 15% 2% 15%;   
}



/* Rodape */

footer{
  width: 100%;
  height: 20vh;
  background-color: var(--cor-fundo);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

footer p{

 text-align: center;
 font-family: var(--fonte-principal);
}



/* Estilos padrão para todos os dispositivos */

@media only screen and (max-width: 768px) {
    /* Estilos para dispositivos com largura máxima de 768px (tablets e dispositivos móveis) */
    .nav{
      display: none;
    }
    
    
    
    .principal{
      background-color: var(--cor-fundo);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  
      padding: 0 15% 0 15%;
  }
  
  .principal-titulo{
    margin: 12% 0 0 0;
    font-size: 32px;
  }

  .principal-subtitulo{
    font-size: 16px;
  }
  
  .principal-texto{
    font-size: 12px;
    text-align: center;
    margin: 0 0 10% 0;
  }

  .btn-conhecer{
    background-color: #2B3582;
    color: #ffffff;
    font-family: var(--fonte-principal);
    text-decoration: none;

    border-radius: 15px;
    padding: 2% 15% 2% 15%;   
  }

  .principal-img{
    width: 90%;
    margin: 10% 0 5% 0;
  }


  /*section professor*/
  .professor-alunos{
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    
      
  }
  .colum1-professor{
    background-color: #2EC4B6;
    width: 100%;
    height: 50vh;
  }
  
  .colum2-professor{

    height: 50vh;
   
    background-image: url(../assets/treinador.png);
    size: cover;
  }

  .professor-titulo{
    font-size: 24px;
  
  }

  .professor-texto{
    font-size: 16px;
  }



  footer{
    width: 100%;
    margin: 16% 0 0 0;
  }
}

/* Estilos padrão para todos os dispositivos */

@media only screen and (max-width: 480px) {
    /* Estilos para dispositivos com largura máxima de 480px (smartphones em modo retrato) */
    .principal{
      background-color: var(--cor-fundo);
      display: flex;
      flex-direction: column;
      align-items: center;
  
      padding: 0 15% 0 15%;
  }
  
  
  }

