@import url(reset.css);
@import url(sobre.css);
@import url(professor.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Roboto:wght@400;900&display=swap');
@import url(projeto.css);
@import url(contato.css);

/* Variaveis*/
:root{
    --cor-um: #FF9085;
    --cor-dois: #2B3582;
    --cor-tres: #FFC444;
    --cor-quatro: #2EC4B6;

    --cor-fundo: #D8DEE8;
    --fonte-principal : 'inter';
}



.principal{
    background-color: var(--cor-fundo);
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0 15% 0 15%;
}

.principal-img{
    width: 50%;
    padding: 5% 2% 5% 2%;
}

.nav{
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
    text-transform: uppercase;
    color: #2B3582;
    font-size: 1.5rem;

    padding-left: 5%;
    padding-top: 2%;
}
.nav a {
    text-decoration: none;
    margin: 1%;
}


/* Estilos padrão para todos os dispositivos */

@media only screen and (max-width: 768px) {
    /* Estilos para dispositivos com largura máxima de 768px (tablets e dispositivos móveis) */
    .principal{
      background-color: var(--cor-fundo);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  
      padding: 0 15% 0 15%;
  }
  
  .principal-titulo{
    margin: 6% 0 0 0;
    font-size: 32px;
  }

  .principal-subtitulo{
    font-size: 20px;
  }
  
  .principal-texto{
    font-size: 12px;
    text-align: center;
    margin: 0 0 10% 0;
  }

  .btn-conhecer{
    background-color: #2B3582;
    color: #ffffff;
    font-family: var(--fonte-principal);
    text-decoration: none;

    border-radius: 15px;
    padding: 2% 15% 2% 15%;   
  }

  .principal-img{
    width: 90%;
    margin: 10% 0 5% 0;
  }


  
  }



/* Estilos padrão para todos os dispositivos */

@media only screen and (max-width: 480px) {
    /* Estilos para dispositivos com largura máxima de 480px (smartphones em modo retrato) */
    .principal{
      background-color: var(--cor-fundo);
      display: flex;
      flex-direction: column;
      align-items: center;
  
      padding: 0 15% 0 15%;
  }
  
  
  }





/* Estilos padrão para todos os dispositivos */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    /* Estilos para tablets em modo retrato (largura entre 768px e 1024px) */
  }

/* Estilos padrão para todos os dispositivos */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* Estilos para tablets em modo paisagem (largura entre 768px e 1024px) */
  }
  